{% extends "base.html" %}

{% block content %}
<div class="container">
		<div class="row">

			<div class="col-sm-10 col-md-2">
				<h2 class="text-center">Categories</h2>
				<div class="list-group">
				  <a href="{% url 'comics:list_comics'%}" class="list-group-item {% if not category %} active {% endif %}">Todos</a>
				  <form action="." method="post">
				  {% for c in categories %}
				  	<a href="{{ c.get_absolute_url }}" class="list-group-item {% if category_slug == c.slug %} active {% endif %}">{{ c.name }}</a>
				  	<br>
				  {% endfor %}
				  </form>
			





	{% for comic in comics %}
							<div class="col-sm-12 col-md-4">
							<a href="{{ comic.get_absolute_url }}" class="thumnail">
								<p>
									<img img class="img-responsive" src="{{ comic.image.url }}" width="300">
								</p>
								<p>
									<h3>{{ comic.title }}</h3>
								</p>
								<br>
								<br>
								<br>
							</a>
							</div>
						{% endfor %}

	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-2">
				<h2 class="text-center">Companies</h2>
				<div class="list-group">
				  <a href="{% url 'comics:list_comics'%}" class="list-group-item {% if not company %} active {% endif %}">Todos</a>
				  <form action="." method="post">
				  {% for com in company %}
				  <br>
				  	<a href="{{ com.get_absolute_url }}" class="list-group-item {% if company_slug == com.slug %} active {% endif %}">{{ com.name }}</a>
				  {% endfor %}
				  </form>
				</div>
			</div>
</div>
</div>

	</div>
	</div>
		</div>
			</div>
{% endblock content %}